@model Journal.Models.Post

@{
    ViewBag.Title = "Create";
}

@*for the menu*@
<section class="page-section bg-info" id="create"></section>

<div class="container mt-4" style="background-color:#4e4239; color:#fff;">
    <h2>Create</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Post</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control form-control-full", rows = 8 } })
                    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
                @Html.LabelFor(model => model.ImgUrl, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ImgUrl, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ImgUrl, "", new { @class = "text-danger" })
                </div>
            </div>*@

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary" style="padding:15px;"/>
                    
                </div>
            </div>
        </div>
    }

    <div>
        <button class="btn btn-secondary">@Html.ActionLink("Back to Posts", "Index", "Posts")</button>
    </div>
    <div id="previewDiv" style="display:none" class="row">
        <div class="col-12">
            <div class="panel panel-default panel-google-plus">

                <div class="panel-google-plus-tags">
                    <ul>
                        <li>#@Html.DisplayFor(model => model.Title)</li>

                    </ul>

                </div>
                <div class="panel-heading">
                    <h5><span>Shared publicly</span> -  <span>#@Html.DisplayFor(model => model.date)</span></h5>
                </div>
                <div class="panel-body" style="padding:15px; font-family:Arial;">
                    <p>@Html.DisplayFor(model => model.Content)</p>
                </div>
                <div class="panel-footer">
                    @if (User.IsInRole("Publisher") || User.IsInRole("Viewer"))
                    {
                        <button type="button" class="[ btn btn-default js-like">Like</button>
                    }
                    <button type="button" class="[ btn btn-default ] like-count">
                        @Html.DisplayFor(modelItem => modelItem.LikeCount)
                    </button>
                    
                    
                    @if (User.IsInRole("Publisher") || User.IsInRole("Viewer"))
                    {
                        <button class="btn btn-default">@Html.ActionLink("View comments", "Details")</button>
                    }
                    
                </div>

            </div>
        </div>


    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#preview').on('click', function () {
                var x = $('#previewDiv');
                if (x.style.display === "none") {
                x.style.display = "block";
                } else {
                x.style.display = "none";
                }
            });

        });
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}
